.list-view-container {
  background-color: #fff;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}

.list-view-item {
  cursor: pointer;

  +.list-view-item {
    border-top: 1px solid #ccc;
  }

  &.selected {
    background-color: #bff;

    > .eq-list-item > .list-aside {
      background-image: linear-gradient(90deg, rgba(187, 255, 255, 0.25) 0%, rgba(187, 255, 255, 1.0) 20%);
    }
  }
}

.list-view-default-format {
  border: none;
  margin: 0;
}

.latest-earthquakes-list {
  background-color: #f4f4f4;
}

.header-title {
  margin-left: 1em;
}

.list-view-footer {
  margin-left: 1em;
  > ul {
    font-size: .8em;
    margin-bottom: 1em;
  }
}

.header-update-time {
  font-size: .9em;
}

.header-info-content {
  border: 0;
}

.list-view-header > .header-count {
  border-right: 0;
  border-left: 0;
}
