.list-view-container {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-view-item {
  cursor: pointer;

  +.list-view-item {
    border-top: 1px solid #ccc;
  }

  &.selected,
  &.selected > .eq-list-item > .list-aside {
    background-color: #bff;
  }
}

.list-view-default-format {
  border: none;
  margin: 0;
}
