.header-info-content {
  font-size: 0.88em;

  dl {
    overflow: auto;
  }

  dt {
    color: #777;
    font-size: 0.88em;
    font-weight: normal;
  }

  dd {
    margin: 0 0 1em;
  }

  h4 {
    border-bottom: 1px solid #ddd;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 1em;
    padding-bottom: 1em;
  }

  button {
    margin: 1em 0;
  }
}

.question-icon:after {
  content: '\0e88F';
  color: #777;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 1em;
  line-height: 1;
  margin: 0 6px;
  text-decoration: none;
  vertical-align: middle;
}


.header-title {
  padding: 0 1em;
}

.list-view-header > .header-count {
  border: 0;
  font-size: 0.88em;
  padding: 0.25em 1em;
  margin: 1em 0;
}

.header-update-time {
  color: #777;
  font-size: 0.77em;
  text-align: center;
}

.header-info-content {
  background: #eee;
  border: 0;
  border-top: 1px solid #ddd;

  .download-button,
  .search-button {
    background-color: #3d5e80;
    font-size: 0.88em;
    width: 100%;
  }
}