.pager-list-item {
  > .list-callout > .alert {
    background-color: inherit;
    border-radius: 2px;
    margin: 0;
    padding: 0.25em 0.75em;
  }

  > .list-aside {
    width: 5.5em;

    > .mmi {
      border-radius: 2px;
      font-size: .8em;
      padding: 0.15em 0.25em;
    }
  }
}
