.catalog-action-description {
  color: #444;
  display: block;
  font-size: .7em;
}

.downloads > .toggle-content > ul {
  font-size: .8em;
  margin: .25em 0;
}
.downloads > .toggle-content > ul > li {
  margin: .4em 0;
}

.catalog-revert-wrapper {
  margin-bottom: 0;
  margin-top: 2.5em;
}

.catalog > .modal-footer {
  margin: 0;
  padding: 0;
}
