.default-state .mapview,
.default-state .listview,
.default-state .settingsview,
.default .feedDescriptionView {
  display:none;
}

.default-state,
.defaultcontent,
.mode-map .default-state .mapview {
  bottom:0;
  display:block;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index: 1;
}

.default-state {
  background-color: #fff;

  -webkit-form: translate3d(0,0,0);
  -webkit-overflow-scrolling:touch
}

.mode-list .default-state .listview,
.mode-settings .default-state .settingsview {
  display:block;
  height:100%;
  left:0;
  overflow-y: auto;
  position:absolute;
  top:0;
  right:0;
  z-index: 2;

  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

.mode-settings .app-footer .eventSummaryView {
  display:none;
}

.mode-list .app-footer .eventSummaryView,
.mode-map .app-footer .eventSummaryView {
  display:block;
}

/* default content displayed when no mode is selected.     */
/**                                                       **/
.defaultcontent {
  line-height:1.3;
  overflow-y:auto;
  padding:8px;
}
.defaultcontent h1 {
  font-size:1.5em;
  margin:.5em 0;
}

.defaultcontent ul {
  margin:0;
  padding:0;
}
.defaultcontent li {
  margin: 0 40px 1em;
}

/* Version number display */
.defaultcontent h1 small {
  display: block;
  font-size: 0.61em;
  font-weight: normal;
}

/* Links and Logos */
.defaultcontent h2 {
  font-size: 1.33em;
  margin: 20px 0 0 0;
}

.defaultcontent li {
  list-style: none;
  margin: 0 0 8px 0;
  overflow: auto;
  padding: 10px 0;
}

li a {
  display: block;
}

.defaultcontent .modeIcon {
  display: block;
  font-size: 0;
  float: left;
  height: 34px;
  margin-right: 10px;
  text-indent: -9999px;
  width: 34px;
}

.defaultcontent li {
  border-bottom: 1px solid #ddd;
  display:block;
  font-size:1.08em;
  line-height: 1.08;
}

.defaultcontent li:last-child a {
  border-bottom:none;
}

.defaultcontent .partners {
  overflow: auto;
}

.defaultcontent .partners li {
  border-bottom: none;
  float: left;
  text-align: center;
  width: 33%;
}

.defaultcontent .partners li img {
  border: none;
}

/**                                                       **/
/* end default content displayed when no mode is selected. */

/* box with arrow pointing to mode toggles. */
.defaultcontent .lookatme {
  background: #090;
  border: 4px solid #090;
  color:#fff;
  font-weight:bold;
  margin-top:3em;
  padding:16px;
  position: relative;
  text-align:center;
}

.defaultcontent .lookatme:after, .lookatme:before {
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.defaultcontent .lookatme:after {
  border-color: rgba(237, 102, 0, 0);
  border-bottom-color: #090;
  border-width: 30px;
  margin-left: -30px;
  right: 50px;
}
.defaultcontent .lookatme:before {
  border-color: rgba(213, 92, 0, 0);
  border-bottom-color: #090;
  border-width: 36px;
  margin-left: -36px;
  right: 50px;
}


@media screen and (min-width:640px) {

  /* on large screens leave whitespace above arrow. */
  .defaultcontent ul {
    margin-left: 20px;
    max-width:640px;
    width:50%;
  }

  .defaultcontent li a {
    display: inline;
  }

  .defaultcontent .lookatme {
    position:absolute;
    max-width:480px;
    right:8px;
    top:8px;
    width:40%;
  }

  .defaultcontent .lookatme:before,
  .defaultcontent .lookatme:after {
    right:25px;
  }


  .app-container {
    padding-bottom:0px;
  }

  .app-container > footer {
    height:0px;
  }

  .mode-settings .default-state .listview {
    right:320px;
    width:auto;
  }

  .mode-map .default-state .listview {
    box-shadow: 2px 0 2px #999;
    right:auto;
    width:320px;
  }


  .mode-map .default-state .settingsview {
    box-shadow: -2px 0px 2px #999;
  }

  .mode-map .default-state .settingsview,
  .mode-list .default-state .settingsview {
    left:auto;
    right:0;
    width:320px;
  }

  .defaultcontent .partners li {
    border-bottom: 1px solid #ddd;
    float: none;
    text-align: left;
    width: auto;
  }

  /**
   * IE9 hack. Bug in IE9 when using box-sizing:border-box. Increase width to
   * adjust for double scrollbar-width overcompensation.
   */
  .ie9 .mode-map .default-state .settingsview,
  .ie9 .mode-list .default-state .settingsview,
  .ie9 .mode-map .default-state .listview {
    width:336px;
  }

  .mode-list .default-state .mapview {
    left:320px;
  }

  .default .mode-settings .eventSummaryView {
    right:320px;
  }

  .default .mode-map .eventSummaryView {
    width:320px;
    right:auto;
  }

  .mode-settings .default-state .mapview {
    right:320px;
  }
}
