.listContent .depth {
  bottom: 5px;
  color: #666;
  display: block;
  font-size: .85em;
  position: absolute;
  right: 5px;
}

.listContent .time {
  bottom: 5px;
  color: #666;
  display: block;
  font-size: .85em;
  position: absolute;
}

.listContent .mag {
  height: 40px;
  font-size: 14px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}

.listContent > li > .intensity,
.listContent > li > .alert {
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
  font-size: 12px;
  height: 26px;
  left: 7px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  top: 7px;
  width: 26px;
}

.listContent .selected {
  background: #bff;
}

.listContent .place {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listContent .bigger {
  border-bottom: 1px solid #ccc;
}

.listContent .big .place,
.listContent .bigger .place {
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.listContent .bigger .mag,
.listContent .bigger .place {
  color: #C94749;
}

.listContent .big .mag,
.listContent .bigger .mag {
  font-weight: bold;
}
