.dyfi-list > li > .no-dyfi {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.dyfi-list > li > .responses {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 7px;

  color: #666;
  font-size: .85em;
}
