.dyfi-list > li > .no-dyfi {
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}

.dyfi-list > li > .responses {
  bottom: 5px;
  color: #666;
  display: block;
  font-size: .85em;
  position: absolute;
  right: 7px;
}
