
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/***** layout for header, content, footer *****/
.latest-earthquakes {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.latest-earthquakes-footer,
.latest-earthquakes-header {
  box-shadow: 0 1px 8px rgba(0,0,0,0.5);
  display: block;
  height: 50px;
  z-index: 3;
}

.latest-earthquakes-header {
  align-items: center;
  background-color: #3d5e80;
  display: flex;
  padding: 10px;

  > .latest-earthquakes-logo {
    flex-grow: 1;
    height: 28px;
    overflow: hidden;

    > img {
      border: none;
      height: 140%;
    }
  }

  > .latest-earthquakes-modes {
    flex-grow: 0;
  }
}

.latest-earthquakes-content {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}


/***** layout for content views *****/

/** hide views by default. */
.latest-earthquakes-footer,
.latest-earthquakes-list,
.latest-earthquakes-map,
.latest-earthquakes-settings {
  display: none;
  overflow: hidden;
  width: 100%;
}

.latest-earthquakes-map {
  position: relative;

  > .map-view {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.latest-earthquakes-list,
.latest-earthquakes-settings {
  background: #f4f4f4;
  min-width: 320px;
  overflow-y: auto;
}

/** show views when mode enabled. */
.mode-list > .latest-earthquakes-list,
.mode-map > .latest-earthquakes-map,
.mode-settings > .latest-earthquakes-settings {
  display: block;
}

/* list and settings are 100% wide by default */
/* list is 320px wide */
.latest-earthquakes-list {
  width: 100%;
}

/** map fills rest of screen by default. */
.latest-earthquakes-map {
  flex: 1;
}

/* hide other views on smaller screens */
.mode-list > .latest-earthquakes-map,
.mode-settings > .latest-earthquakes-map,
.mode-list > .latest-earthquakes-settings {
  display: none;
}


/* 641 leaves room for list and settings at 320px plus 1px for map */
@media screen and (min-width: 641px) {
  /* when map is visible restrict list to 320px */
  .mode-map > .latest-earthquakes-list,
  /* when list or map are visible restrict settings to 320px */
  .mode-list > .latest-earthquakes-settings,
  .mode-map > .latest-earthquakes-settings {
    width: 320px;
  }

  /** show views when mode enabled (reset for hide rules). */
  .mode-list > .latest-earthquakes-list,
  .mode-map > .latest-earthquakes-map,
  .mode-settings > .latest-earthquakes-settings {
    display: block;
  }

  .latest-earthquakes-settings,
  .latest-earthquakes-list {
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
  }

  .latest-earthquakes-settings,
  .latest-earthquakes-list {
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    z-index: 2;
  }

  .latest-earthquakes-settings {
    z-index: 1;
  }
}
