
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/***** layout for header, content, footer *****/
.latest-earthquakes {
  display: block;
  height: 100%;
  width: 100%;
}

.latest-earthquakes-header,
.latest-earthquakes-content,
.latest-earthquakes-footer {
  left: 0;
  position: absolute;
  right: 0;
}

.latest-earthquakes-footer,
.latest-earthquakes-header {
  display: block;
  z-index: 4;
}

.latest-earthquakes-list {
  z-index: 3;
}

.latest-earthquakes-settings {
  z-index: 2;
}

.latest-earthquakes-map {
  z-index: 1;
}

.latest-earthquakes-header {
  align-items: center;
  box-shadow: 0 1px 8px rgba(0,0,0,0.5);
  background-color: #3d5e80;
  display: flex;
  height: 50px;
  padding: 10px;
  top: 0;

  > .latest-earthquakes-flex {
    flex-grow: 1;
    height: 28px;
    overflow: hidden;

    > .latest-earthquakes-logo {
      display: inline-block;
      height: 100%;
      position: relative;

      > img {
        border: none;
        height: 140%;
      }
    }
  }

  > .latest-earthquakes-modes {
    flex-grow: 0;
  }
}

.latest-earthquakes-footer {
  bottom: 0;
  height: 0;
}

.latest-earthquakes-content {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50px;
}


/***** layout for content views *****/

/** hide views by default. */
.latest-earthquakes-about,
.latest-earthquakes-list,
.latest-earthquakes-map,
.latest-earthquakes-settings {
  bottom: 0;
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  -webkit-overflow-scrolling: touch;
}

.latest-earthquakes-list,
.latest-earthquakes-settings {
  background: #f4f4f4;
  min-width: 320px;
  overflow-y: auto;
}

.latest-earthquakes-about {
  overflow: scroll;
}

/** show views when mode enabled. */
.mode-help > .latest-earthquakes-about,
.mode-list > .latest-earthquakes-list,
.mode-map > .latest-earthquakes-map,
.mode-settings > .latest-earthquakes-settings {
  display: block;
}

/* hide other views on smaller screens */
.mode-list > .latest-earthquakes-map,
.mode-map > .latest-earthquakes-settings,
.mode-list > .latest-earthquakes-settings {
  display: none;
}


/* 641 leaves room for list and settings at 320px plus 1px for map */
@media screen and (min-width: 641px) {
  /** show views when mode enabled (reset for hide rules). */
  .mode-list > .latest-earthquakes-list,
  .mode-map > .latest-earthquakes-map,
  .mode-settings > .latest-earthquakes-settings {
    display: block;
  }

  .mode-settings.mode-list {
    > .latest-earthquakes-settings {
      left: auto;
      width: 320px;
    }

    > .latest-earthquakes-list {
      right: 320px;
    }
  }

  .mode-list.mode-map {
    > .latest-earthquakes-list {
      right: auto;
      width: 320px;
    }

    > .latest-earthquakes-map {
      left: 320px;
    }
  }

  .mode-settings.mode-map {
    > .latest-earthquakes-settings {
      left: auto;
      width: 320px;
    }

    > .latest-earthquakes-map {
      right: 320px;
    }
  }

  .mode-map.mode-list > .latest-earthquakes-list,
  .mode-map.mode-settings > .latest-earthquakes-settings,
  .mode-settings.mode-list > .latest-earthquakes-list {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  }
}
