.listview {
  /**
   * This prevents default state from showing through when there are no quakes
   * in the current data feed.
   */
  background-color: #ddd;
}

.listview .downloads {
  display: none;
}

.listview .showDownloads .downloads{
  display: block;
}


/**
 * LIST HEADER
 */

.listHeader {
  border-bottom: 1px solid #BBB;
  box-shadow: 0 2px 5px #CCC;
  display: block;
  font-size: 12px;
  margin: 0; padding: 8px;
}

.listHeader h1,
.listHeader .updated,
.listHeader .showing {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listHeader h1 {
  font-size: 16px;
  margin: 0;
}
.listHeader .updated,
.listHeader .timezone {
  color: #494949;
  font-size: 11px;
}
.listHeader .total {
  color: #000;
  padding-left: 8px;
}
.listHeader .showing {
  display: none;
  margin-top: 8px;
}
.filtered .listHeader .showing {
  display: block;
}

/**
 * LIST CONTENT
 */

.listView .nodata {
  color: #900;
  font-size: 14px;
  padding: 0 8px;
}
.listContent,
.listContent li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.listContent li {
  background: #fff;
  border-bottom: 1px solid #DFDFDF;
  color: #333;
  font-size: .8em;
  padding: 0.375em 0.375em 1.5em 3.2em;
  position: relative;

  /** bottom is room for time, depth; left is room for mag  */
  -webkit-text-size-adjust: none;
  /*
  need this to compensate for -webkit-overflow-scrolling: touch,
  which otherwise prevents a redraw
  */
  -webkit-transform: translate3d(0,0,0);
}

/**
 * LIST FOOTER
 */

.listFooter {
  display: block;
  font-size: 11px;
  margin: 0; padding: 0 8px 8px;
}

.listFooter h5 {
  font-size: 13px;
  margin: 0 -8px;
  padding: 10px 5px;
}

.listFooter .help {
  list-style: none;
  margin: 0;padding: 0;
}
.listFooter .help li {
  margin: 0;
  padding: 5px 0;
}

.listContent li.links ol#help > li a{
  text-decoration: underline;
}


/** make list look like a table. */
@media screen and (min-width: 640px) {

  .list .listContent li {
    clear: left;
    float: left;
    padding: 0;
    width: 100%;
  }

  .list .listContent .mag,
  .list .listContent .place,
  .list .listContent .time {
    float: left;
    height: auto;
    line-height: inherit;
    padding: 5px;
    position: static;
    top: auto;left: auto;right: auto;bottom: auto;
  }

  .list .listContent .mag {
    width: 4%
  }

  .list .listContent .place {
    width: 48%;
  }

  .list .listContent .time {
    width: 25%;
  }

  .list .listContent .depth {
    bottom: auto;
    top: 5px;
  }
}
