.messageView {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.messageView ol,
.messageView li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.messageView ol {
  bottom: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
}

@media screen and (min-width: 640px) {
  .messageView ol {
    margin: 0 auto;
    max-width: 320px;
    position: static;
  }
}


/** each list item is one message. */
.messageView li {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  font-size: .9em;
  margin-bottom: .5em;
  padding: 5px;
  position: relative;
}

.messageView .close-link {
  right: 2px;
  top: 2px;
}

.messageView li.error {
  background-color: #fee;
}

.messageView li.warning {
  background-color: #ffe;
}

.messageView li.success {
  background-color: #efe;
}
