.pager-list > li > .no-pager {
  height: 40px;
  left: 0px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 40px;
}

.pager-list > li > .maxintensity {
  bottom: 5px;
  color: #666;
  font-size: .85em;
  position: absolute;
  right: 5px;
}

.pager-list > li > .maxintensity > .intensity,
.pager-list > li > .maxintensity > .no-intensity {
  display: inline-block;
  font-size: .9em;
  height: 13px;
  line-height: 13px;
  margin-left: 5px;
  text-align: center;
  width: 20px;
}

.pager-list > li > .maxintensity > .intensity {
  box-shadow: inset 0 0 1px rgba(0,0,0,1);
}
