/* reset styles */

html, body {
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}


/* container styles. */

.app-container {
  box-sizing:border-box;
  height:100%;
  padding:0;
  margin:0;
  width:100%;
}


.app-container > header {
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

.app-container > section {
  bottom: 0;
  height:100%;
  position:relative;
  width:100%;
  z-index:1;
}

.app-container > footer {
  left:0;
  right:0;
  position:absolute;
  z-index:2;
}


/* loading styles */

.app-container > .loading-spinner {
  background-color:#999;
  height:100%;
  left:0;
  opacity:.8;
  position:absolute;
  top:0;
  width:100%;
  z-index:3;
}


.app-container > .loading-spinner > div {
  background-color:#333;
  border:1px solid #fff;
  color:#fff;
  height:auto;
  left:50%;
  margin-left:-5em;
  margin-top:-1.5em;
  padding:.5em;
  position:absolute;
  text-align: center;
  top:50%;
  vertical-align: middle;
  width:11em;
}

.app-container > .loading-spinner > div > p {
  background-color: #eee;
  color:#111;
  display:block;
  font-size:smaller;
  margin-top:1em;
  padding:8px;
}

/* customizations */


/** styles for fixed size header */
.app-container {
  padding-top:35px;
}

.app-container > header {
  height:35px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

body.default {
  background-color:#111;
}



.app-container > header .logo {
  display:block;
  float:left;
  margin:5px 0;
  padding:0 5px;
}

.app-container > header .logo img {
  border:none;
}

.map-state, .mapView {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}


.states {
  display:block;
  float:right;
  list-style:none;
}

.states > li {
  display:block;
  float:left;
  list-style:none;
}

.states a {
  background-color:#fff;
}
