.app-container .mapView .leaflet-box-zooming {
  cursor: crosshair;
}

.leaflet-box-zooming .leaflet-zoomControl-box,
.leaflet-box-zooming .leaflet-zoomControl-box:hover,
.leaflet-box-zooming .leaflet-zoomControl-box:active {
  background-color: rgba(204,204,255, 0.6);
}

.leaflet-control-scale {
  float: left;
}
.leaflet-control-scale-line {
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-top: 0;
  box-shadow: none !important;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 1px #333;
}
.leaflet-control-scale-line:nth-child(2) {
  border-top: 2px solid #f5f5f5;
  border-bottom: 0px;
  margin-top: -2px;
  padding-top: 1px;
}
.leaflet-control-scale.leaflet-control {
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: bottom;
}

.leaflet-zoomControl-jumplist {
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.leaflet-zoomControl {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.leaflet-zoomControl a {
  border-right: 1px solid #888;
  color: black;
  float: left;
  height: 19px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  width: 19px;
}
.leaflet-zoomControl a, .leaflet-control-layers a {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.leaflet-zoomControl a:hover {
  background-color: #fff;
}
.leaflet-zoomControl-in,
.leaflet-zoomControl-out,
.leaflet-zoomControl-box {
  background-color: #FFF;
  background-color: rgba(255,255,255,0.75);
  display: none;
}
.leaflet-zoomControl-in:hover,
.leaflet-zoomControl-out:hover,
.leaflet-zoomControl-box:hover {
  background-color: #FFF;
}
.leaflet-zoomControl-in {
  border-bottom: 1px solid #888;
  border-radius: 0px 3px 3px 0px;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  font: bold 18px/18px Arial, Helvetica, sans-serif;
  margin-right: 5px
}
.leaflet-zoomControl-out {
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid #888;
  font: bold 23px/15px Tahoma, Verdana, sans-serif;
  margin-left: 5px;
}
.leaflet-zoomControl-box {
  background-image: url('../img/boxzoom.png');
  background-size: 15px 15px;
  border: 1px solid #888;
  border-radius: 3px;
  margin-right: 5px;
}
.lt-ie9 .leaflet-zoomControl-box {
  background-image: url('../img/boxzoom15.png');
}

/* show buttons if mousey buttons in mobile */
.desktop .leaflet-zoomControl-box,
.desktop .leaflet-zoomControl-in,
.desktop .leaflet-zoomControl-out {
  display: block;
}
