.dyfi-list > li > .intensity {
	position: absolute;
	top: 5px;
	left: 5px;

	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	box-shadow: inset 0 0 1px rgba(0,0,0,.35);
}

.dyfi-list > li > .no-dyfi {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.dyfi-list > li > .responses {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5px;

	color: #666;
	font-size: .85em;
}
