@import url("_StateApplication.css");


@import url("_TransitionView.css");
@import url("_ListView.css");
@import url("_DefaultListFormatter.css");
@import url("_DYFIListFormatter.css");
@import url("_ShakeMapListFormatter.css");
@import url("_PagerListFormatter.css");
@import url("_MapView.css");
@import url("_EventSummaryView.css");
@import url("_SettingsView.css");
@import url("_Catalog.css");
@import url("_MouseOverLayer.css");
@import url("_ModalView.css");
@import url("_ToggleView.css");

@import url("_MessageView.css");
@import url("_ModesView.css");
@import url("_LegendView.css");
@import url("_ZoomControl.css");

@import url("_DefaultState.css");

@import url("_Print.css");

* {
  box-sizing: border-box;
}

body {
  opacity: .99;
}


/** Shared styles thoughout the application. */
abbr {
    border-bottom: 1px dotted #000;
    cursor: help;
}

.button-as-link {
  background: none;
  border: none;
  color: #00C;
  cursor: pointer;
  display: inline;
  font: normal 1em/1.5 'Arial';
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.close-link {
  background: #aaaaaa;
  background: linear-gradient(to bottom, #aaaaaa 42%,#777777 100%);
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: inset 0px 0px 5px #ccc;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 22px;
  line-height: 1.222;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 6px;
  text-align: center;
  font-weight: bold;
  width: 22px;
}

.close-link: hover {
  color: #C00;
}
