@import 'accordion/Accordion.scss';

@import 'leaflet/_Map.scss';
@import 'leaflet/control/_Control.scss';
@import 'leaflet/control/_Scale.scss';
@import 'leaflet/control/_MousePosition.scss';
@import 'leaflet/control/_Zoom.scss';
@import 'leaflet/control/_ZoomToControl.scss';
@import 'leaflet/layer/_MouseOverLayer.scss';


@import 'mvc/ModalView.scss';
@import 'util/Message.scss';


@import '_LatestEarthquakes.scss';
@import '_mmi-variables.scss';


@import 'core/_Formatter.scss';

@import 'about/_AboutView.scss';

@import 'latesteqs/_Catalog.scss';

@import 'list/_DefaultListFormat.scss';
@import 'list/_DownloadView.scss';
@import 'list/_DyfiListFormat.scss';
@import 'list/_ListView.scss';
@import 'list/_PagerListFormat.scss';
@import 'list/_ShakeMapListFormat.scss';

@import 'map/_EarthquakeLayer.scss';
@import 'map/_LegendControl.scss';
@import 'map/_MapView.scss';

@import 'modes/_ModesView.scss';

@import 'settings/_OptionsView.scss';
@import 'settings/_SettingsView.scss';

@import 'summary/_EventSummaryFormat.scss';
@import 'summary/_EventSummaryView.scss';


html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
}