@import url("StateApplication.css");


@import url("TransitionView.css");
@import url("ListView.css");
@import url("DefaultListFormatter.css");
@import url("MapView.css");
@import url("EventSummaryView.css");
@import url("SettingsView.css");
@import url("Catalog.css");
@import url("MouseOverLayer.css");
@import url("ModalView.css");
@import url("ToggleView.css");

@import url("MessageView.css");
@import url("ModesView.css");
@import url("LegendView.css");
@import url("ZoomControl.css");

@import url("DefaultState.css");

@import url("Print.css");

/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	opacity:.99;
}


/** Shared styles thoughout the application. */
abbr {
    border-bottom:1px dotted #000;
    cursor:help;
}
.button-as-link {
	display:inline;
	border:none;
	background:none;
	text-decoration:none;
	margin:0;
	padding:0;
	font:normal 1em/1.5 'Arial';
	cursor:pointer;
	color:#00C;
	text-decoration:underline;
}

.close-link {
    position: absolute;
    top: 6px;
    right: 5px;
    display: block;
    text-decoration: none;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 1.222;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px #ccc;
    border: 1px solid #999;
    cursor: pointer;

    background: #aaaaaa; /* Old browsers */
    background: -moz-linear-gradient(top, #aaaaaa 42%, #777777 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#aaaaaa), color-stop(100%,#777777)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #aaaaaa 42%,#777777 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #aaaaaa 42%,#777777 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #aaaaaa 42%,#777777 100%); /* IE10+ */
    background: linear-gradient(to bottom, #aaaaaa 42%,#777777 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
}
.close-link:hover {color:#C00;}

