.modal {
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	margin:0; padding:56px 0 61px;
	background-color:#EEE;
	background-color:rgba(0,0,0,0.75);
	z-index:9999;
	overflow-y:auto;
	font-size:.95em;
}
.modal-dialog {
	position:relative;
	width:90%;
	max-width:304px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	background-color:#FFF;
}
.modal-header {
	padding:0 36px 0 0; /* Space on right for close link [X]*/
	background-color:#DDD;
	border-bottom:1px solid #999;
	color:#333;
}
.modal-title {
	margin:0;
	padding:10px 16px;
	outline:0;
}
.modal-close-link {
	display: block;
	position: absolute;
	top: 9px;
	right: 9px;
	width: 25px;
	height: 24px;

	color: #fff;
	font:bold 18px/1.2 'Arial';
	text-align: center;
	text-decoration: none;

	cursor: pointer;
	background: #BBB;
	border: 1px solid #999;
}
.modal-close-link:hover {color:#C10C0C;}
.modal-content {
	margin:0 0 0 16px;
	padding:8px 16px 4px 0;
	max-height:540px;
	overflow-y:auto;
}
.modal-footer {
	padding:4px 0 8px;
	margin:4px 12px 0;
}
.modal-error > .modal-header > .modal-title,
.modal-warning > .modal-header > .modal-title,
.modal-success > .modal-header > .modal-title {
	padding-left:6px;
}
.modal-error > .modal-header,
.modal-warning > .modal-header,
.modal-success > .modal-header {
	padding-left:36px; /* Move text over so more room for icon */
	background-repeat:no-repeat;

	/* Success Image */
	background-position:6px 6px;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAidJREFUeNrsVz1PAkEQ3b0DtAFJsLGDRO1MUCs7KjsTC3+AlBYkd4WFFVBZWHAJhSVY2ZjgPxAbrVQSKz8KKitIEArlgDvzSMC95RbvDpHG15Ahu+8xHzszUNM0ySwgkRlhZsI+1qCUCg9GNPlYl829T58Z7Uim5Z7foN35Lq0GevSirvSORBxsWqnFsBFe1GTlfc444cVEwI9YaEuHNaWneRYO5aX7ZsBY9xLKkC49NFPGhkhYmONgXnrxKgrgLjhcFRc8bQWM5UkLCBzgciSMnHrxdDe6S0rbJXK1c0WUNcXiOTjHVjWAQnIrWkgUyP7q/tA+ezqz49SEHuPJOK3eAeAdK5osJ0nxuWg5A05wC4XxTt2IxiNxktvKDW31Vh0RFXFbhNEc3IZ4AAhqj5rwLM8t8SFxKprZzPQ9BqqtKlFv1LHneW5PvToajJL0Zvo7r9dJ0tAb0x8SbIgvq5ek/Fb+/ekE79i3ifeaWEpYCmri6YQGz+YCYghpOBDu57PRblhCnL3L9vPrdHgIPcZoY22EEKIAPhFiRABATsdVMQ+e2yKMecralXql3xDsUHwquioonntkLPpPaYcvfTQJtv8CsfOYqzB3Dkz/2LGIIc5/h1zCe7ZZOBUVcdouAnYLAHI7yG+lVnEcZnYhcLSBYIhPOpODuvTaShkrrjYQXMCv9SqKu6yoqwaCEC1+yCr/Bn8qJNzh9y1HOf7z9fb/L8w08SXAANhQMS2GAi+8AAAAAElFTkSuQmCC');
}
.modal-error > .modal-header {
	/* Error Image */
	background-position:6px 6px;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUtJREFUeNrsV90RgjAMbj0f5XQDcQ9/cAIcgY6hA8ijbIAjyATgzx7qBnr6jsHrAwhpVYjwYO5yvR5tv3xJkwYexzGrQ1qsJqkNuJ2ecM7RhdtOZwaDDWqBmi+fT6ARaDC53zfYGemw8sykABgAEyC/AAyTxAgBBkQqYKWrAXQFQ/gBKJNrQ7kXFZQxbExYOiVDuQbm4m3G0lqngjvkYMxzjGVMw4ov8TSJuY6xT5A9vjKPZcqYBMCmPBtlbBPWDFsFbBECW2jlenVzf7FgveHwK5TL4cDOyyV6dhvb2BuNWH8+/5peF/Zf93t2AW3uI5FxFVh6dt1SrsbY5grIzjCOROn0fDzGt9sAc3VE6N1IFeOAEDjQ1WoKd5+gVg90tVoQsBXadJKdg1chqFfUjTSrEZDMRUnmXhr0bcbUzZ4W+Cft7f8XhlIeAgwA18yeF8BNYgAAAAAASUVORK5CYII=');
}
.modal-warning > .modal-header {
	/* Warning Image */
	background-position:6px 3px;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaFJREFUeNrsl7FOwzAQQM+IGZURpIqyIbGkI10IG2Mm5nxC/qD5A39COjMxsqUsMKZ/QBASrBE/YM7pBVLHDo7T0AFOusZ17Xs+3/mcMiEE7EL2YEfy98DgGmPxBrFUZ6YLGIETVEE6cQG7bnViaA+31ehhUPO20qArk5UfjNlCR/jIUNXtzVGn7BiKobY60kCB+qIuhqw9Rm898hYWtwAvr+v+kzFAePM1THq92mpWIzitYurPQE4qVbZrsU63utVoMMSHr/ttdLDx1aex/SsXJRQ3wbzzxhROc3qXzLlk1Ts0sI110Rx3MCVU5FAeIprr7HEC7pI4gXHF0lOvB9gjG/ZgSo65jfXLWXt+mBLN5DFXE6oDTE00bgXGFcrz2noW5XHCwlGqco51EpLN9pKJg7KesdXJCkvptF659tW3Chvo8gng4fF72/0Lq0SLER43PKY3iawttlKKD4DDs0Z4bKSgSyRXazX/CaormRYx1iZa6TG8Mxn81NZCjlfi3f26HVzjZTzuFO8rOBLLCvxsuOCHkBzBp+z/L8xvyacAAwAbycjAG3fSqgAAAABJRU5ErkJggg==');
}
