.impact-bubbles {

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  > a {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    color: #333;
    display: block;
    float: left;
    letter-spacing: 0.03em;
    line-height: 1em;
    margin: 0.5em 0 0;
    max-width: 103px;
    overflow: hidden;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    width: 23.5%;

    &:hover {
      background-image: linear-gradient(to top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    }

    & + a {
      margin-left: 2%;
    }

    > abbr {
      font-size: .6875em;
    }

    > strong {
      font-size: .8125em;
      /* for pager "pending" alert level */
      white-space: nowrap;
    }
  }

  > .tsunami {
    border: 0;
    display: inline-block;
    height: 43px;
    max-width: 103px;
    padding: 0;
    text-align: left;

    > img {
      height: 100%;
      max-width: none;
      width: 100%;
    }
  }
}

.pager-alertlevel-pending {
  background-color: #fff;
  color: #000;
}
.pager-alertlevel-green {
  background-color: #00b04f !important;
  color: #000 !important;
}
.pager-alertlevel-yellow {
  background-color: #ff0 !important;
  color: #000 !important;
}
.pager-alertlevel-orange {
  background-color: #f90 !important;
  color: #000 !important;
}
.pager-alertlevel-red {
  background-color: #f00 !important;
  color: #000 !important;
}

.roman,
.intensity {
  color: #333;
  font-family: $mmi-font-family;
}

.mmiI{
  background-color: $mmiI;
  color: $mmiI-text-color;
}
.mmiII{
  background-color: $mmiII;
  color: $mmiII-text-color;
}
.mmiIII{
  background-color: $mmiIII;
  color: $mmiIII-text-color;
}
.mmiIV{
  background-color: $mmiIV;
  color: $mmiIV-text-color;
}
.mmiV{
  background-color: $mmiV;
  color: $mmiV-text-color;
}
.mmiVI{
  background-color: $mmiVI;
  color: $mmiVI-text-color;
}
.mmiVII{
  background-color: $mmiVII;
  color: $mmiVII-text-color;
}
.mmiVIII{
  background-color: $mmiVIII;
  color: $mmiVIII-text-color;
}
.mmiIX{
  background-color: $mmiIX;
  color: $mmiIX-text-color;
}
.mmiX{
  background-color: $mmiX;
  color: $mmiX-text-color;
}
.mmiXI{
  background-color: $mmiXI;
  color: $mmiXI-text-color;
}
.mmiXII{
  background-color: $mmiXII;
  color: $mmiXII-text-color;
}

.event-summary {

  > h1 {
    font-size: medium;
    margin-top: 0.25em;
  }

  > dl > dt {
    clear: left;
    display: block;
    float: left;
    font-weight: normal;
    width: 5em;
  }
}
