.legend-control-header {
  font-size: 10px;
  font-weight: normal;
  margin: 2px 0 8px 0;
}

.legend-control-list {
  display: flex;
  margin: 0;
}

.legend-control-item {
  font-size: 10px;
  text-align: center;

  + .legend-control-item {
    margin-left: 2px;
  }
}

.color-bar {
  border: 1px solid #000;
  display: block;
  height: 7px;
  width: 30px;
}

.eq-age-hour {
  background-color: #f00;
}

.eq-age-day {
  background-color: #f90;
}

.eq-age-week {
  background-color: #ff0;
}

.eq-age-month {
  background-color: #fff;
}
