
.leaflet-bottom.leaflet-right {
  width: 50%;
}

.legend-control {
  display: none;
}

/* Keeps screen from zooming when input is selected on mobile devices */
.leaflet-touch .zoomto-control {
  font-size: 16px;
}

.map-view {
  height: 100%;
}

@media screen and (min-width: 465px) {

  .legend-control {
    display: block;
  }

  .leaflet-control-mouseposition + .legend-control {
    height: 52px;
    left: -72px;
    position: absolute;
    width: 144px;
    top: -29px;
  }
}

@media screen and (max-width: 783px) {

  /* Two modes enabled (including map), window is below 740px. */
  .mode-list .leaflet-control-mouseposition,
  .mode-list .legend-control,
  .mode-settings .leaflet-control-mouseposition,
  .mode-settings .legend-control {
    display: none;
  }
}

@media screen and (max-width: 1090px) {

  /* All three modes enabled, window is below 1090px. */
  .mode-list.mode-settings .leaflet-control-mouseposition,
  .mode-list.mode-settings .legend-control {
    display: none;
  }
}
