
.leaflet-bottom.leaflet-right {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1em;
  width: 100%;
}

.scenario-legend-control {
  display: none;
}

/* Keeps screen from zooming when input is selected on mobile devices */
.leaflet-touch .zoomto-control {
  font-size: 16px;
}

.map-view {
  height: 100%;
}

.leaflet-touch .leaflet-control-zoom {
  border-radius: 2px;
  box-shadow: 0 1px 1px #333;
  display: block;
}

.scenario-badge {
  background-color: #fdf7dc;
  bottom: 0;
  font-size: 1.5em;
  left: 0;
  line-height: 2.5em;
  margin: 10px auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 8em;
}

.leaflet-control-mouseposition {
  flex-shrink: 0;
  text-align: center;
  width: 120px;
}

@media screen and (min-width: 520px) {

  .scenario-badge {
    bottom: auto;
    top: 0;
  }

  /* hide legend up until 500px */
  .scenario-legend-control {
    display: flex;
  }
}

@media screen and (max-width: 830px) {

  /* Two modes enabled (including map), window is below 740px. */
  .mode-list .leaflet-control-mouseposition,
  .mode-list .legend-control,
  .mode-list .scenario-legend-control,
  .mode-settings .leaflet-control-mouseposition,
  .mode-settings .legend-control,
  .mode-settings .scenario-legend-control {
    display: none;
  }
}

@media screen and (max-width: 1140px) {

  /* All three modes enabled, window is below 1090px. */
  .mode-list.mode-settings .leaflet-control-mouseposition,
  .mode-list.mode-settings .legend-control,
  .mode-list.mode-settings .scenario-legend-control {
    display: none;
  }
}
