/* Styles for CheckboxOptionsView and RadioOptionsView */
.checkbox-options-view-container,
.radio-options-view-container {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 0.88em;
  margin: 1em 0;

  > li {

    + li {
      border-top: 1px solid #ddd;
    }

    > label {
      margin: 0.5em 1em 0.5em 3em;
      text-indent: -3em;

      &:before {
        margin: 0.5em 1em;
        vertical-align: middle;
      }
    }
  }
}
