/* Styles for CheckboxOptionsView and RadioOptionsView */
.checkbox-options-view,
.radio-options-view {
  background-color: #fafafa;
  border: 1px solid #bbb;

  > li {
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    > label:before {
      margin: 0.5em 1em;
      vertical-align: middle;
    }
  }
}
