/* Styles for CheckboxOptionsView and RadioOptionsView */
.checkbox-options-view-container,
.radio-options-view-container {
  background-color: #fafafa;
  border: 1px solid #bbb;

  > li {

    + li {
      border-top: 1px solid #ddd;
    }

    > label:before {
      margin: 0.5em 1em;
      vertical-align: middle;
    }
  }
}
