.latest-earthquakes-settings {
  padding: 1em;
}

.settings-header {

  > h2 {
    margin-top: 0.5em;
  }

  > small {
    color: #777;
  }
}

.settings-content {

  .search-button {
    background-color: #3d5e80;
    line-height: 1.5;
    margin: 1em 0 0;
    width: 100%;
  }
}