.latest-earthquakes-settings {
  padding: 0 1em;
  background: #f4f4f4;
}

.settings-header {

  > h2 {
    margin-top: 0.5em;
  }

  > small {
    display: block; /* required for line-height to apply */
    margin: 1em 0;
  }
}

.settings-content {

  .search-button {
    background-color: #3d5e80;
    margin: 0;
    width: 100%;
  }
}