$iconSize: 28px;

.modes-view-content {
  display: flex;
  align-items: center;
}

.modes-view-container {
  align-items: center;
  display: flex;
  margin: 0;

  > li {
    align-items: center;
    display: flex;
    cursor: pointer;

    + li {
      margin-left: .5em;
    }

    &.selected > .material-icons {
      color: #FFA937;
    }

    > .material-icons {
      color: #fff;
      font-size: $iconSize;
      height: $iconSize;
      width: $iconSize;
    }
  }
}
