$iconSize: 28px;

.modes-view-content {
  display: flex;
  align-items: center;
}

.modes-view-container {
  align-items: center;
  display: flex;
  margin: 0;

  > li {
    align-items: center;
    display: flex;
    cursor: pointer;

    + li {
      margin-left: .5em;
    }

    &.selected > .material-icons {
      color: #0FF;
    }

    > .material-icons {
      color: #fff;
      font-size: $iconSize;
      height: $iconSize;
      user-select: none;
      width: $iconSize;
    }
  }
}

@media screen and (max-width: 639px) {
  .mode-list [data-id="map"].selected > .material-icons,
  .mode-list.mode-settings [data-id="settings"].selected > .material-icons,
  .mode-map.mode-settings [data-id="map"].selected > .material-icons {
    color: #fff;
  }
}
