.about-view {
  padding: 0 1em;

  > ul > li {
    overflow: hidden;

    > .material-icons {
      background-color: #3d5e80;
      color: #fff;
      display: block;
      float: left;
      margin: 0.25em 1em 0.25em 0;
      padding: .25em;
    }

    > p {
      margin: 0;
    }
  }
}

.logo-image {
  max-width: 80px;
}
