.about-view {
  > ul > li {
    overflow: hidden;

    > .material-icons {
      background-color: #000;
      border: 1px solid #ccc;
      color: #fff;
      display: block;
      float: left;
      margin: 0.25em 1em 0.25em 0;
      padding: .25em;
    }

    > p {
      margin: 0;
    }
  }
}

.logo-image {
  align-items: center;
  display: flex;
  justify-content: center;
}
